span.image {
    display: inline-block;
    width: 40%;
}

.reveal {
    background-image: url('https://oslo2017.drupalcamp.no/themes/contrib/drupalcamp_theme/logo.png');
    background-position: 1% 98%;
    background-repeat: no-repeat;
}
